@use '../styles/variables' as *;

$borderRadius: 5px;

.modal {
	background: $primary;
	width: 400px;
	border-radius: 8px;
	overflow: hidden;
}

.title {
	background: $nav;
	color: $nav-text;
	display: inline-flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 12px 16px;
	.close {
		cursor: pointer;
	}
}

.content {
	padding: 20px 18px;
	.nav {
		.btn {
			padding: 8px 16px;
			line-height: 100%;
			border-radius: 0;
			border: 1px solid $btn-primary;
			border-left: none;
			cursor: pointer;
			font-size: 16px;
			background-color: $btn-secondary;
			color: $btn-text-secondary;
			transition: 0.2s ease;
		}

		.btn:first-child {
			border-left: 1px solid $btn-primary;
			border-top-left-radius: $borderRadius;
			border-bottom-left-radius: $borderRadius;
		}
		.btn:last-child {
			border-top-right-radius: $borderRadius;
			border-bottom-right-radius: $borderRadius;
		}
		.btnSel {
			background-color: $btn-primary;
			color: $btn-text-primary;
		}
	}
}

.header {
	margin: 14px 0 18px;
}

.footer {
	text-align: center;
	margin-top: 20px;
}

.error {
	text-align: center;
	color: $red;
	margin-top: 10px;
}

///// Item /////

.item {
	display: flex;
	align-items: center;
	font-size: 22px;
	padding: 5px;
	border-radius: 4px;
	cursor: pointer;
	&:hover {
		background-color: $side;
	}
	.avatar {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $side-text;
		color: $side;
		border-radius: 50%;
		height: 42px;
		width: 42px;
		font-weight: 500;
		font-size: 18px;
		margin-left: 8px;
	}
	.name {
		margin-left: 10px;
	}
	.amt {
		margin-left: auto;
	}
	.amount {
		margin-left: auto;
		width: 60px;
		height: 30px;
		background: none;
		padding: 6px;
		outline: none;
		border-radius: 4px 0 0 4px;
		border: 1px solid $border;
		color: $text;
	}
	.amttype {
		height: 30px;
		width: 30px;
		background-color: $btn-primary;
		color: $btn-text-primary;
		border: 1px solid $border;
		border-left: none;
		border-radius: 0 4px 4px 0;
		font-size: 18px;
		padding: 4px 0;
		text-align: center;
	}
}
